div#map {width:100%;}
div.map-container {position:relative;height:50vh;max-height:700px;min-height:250px;}
.home div.map-container, .campus div.map-container {height:70vh;min-height:500px;}
div.group.map-container {height: calc(80vh - 200px);max-height:800px;min-height:400px;}
button.mapboxgl-popup-close-button {
    padding: .2em .5em;
    font-size: 16px;
    font-weight: bold;
    color: grey;
}
div.mapboxgl-map a[target=_blank]:not(.link-icon--disable):after {
    display: none;
}
.tabs__tab {cursor:pointer;}
.search-control-default{
    position: absolute;
    margin-left: calc( (100% - 20px)*(-1/2) );
    top: 10px;
    width: calc(100% - 60px);
    left: 50%;
    max-width: 300px;
    z-index: 99;
}
div.mapboxgl-popup-content h3, div.mapboxgl-popup-content h4 {
    font-size:1.25rem;
    margin-bottom:0.5rem;
}
div.mapboxgl-popup-content h4 {
    font-size:1rem;
    margin-bottom:0.5rem;
}
div.mapboxgl-popup-content p {
    margin:0;
}
.map_cell .tabs__panel {padding:0;}
ul.social-list, .more-sharing {padding-bottom:1rem;}
.more-sharing button.modal-dialog__open {
    border: 2px solid rgba(9,65,131,.4);
    background: transparent;
    color: inherit;
    padding: 0.2rem 0.6rem;
}
.link-icon.link-icon--custom svg {height:1.5rem;width:1.5rem;position:relative;top:0.4rem;}
h1 .link-icon.link-icon--custom svg {height:1.7rem;width:1.7rem;top:0.2rem;color:#ADCDF0;}

/* *** room list styles *** */
.map-info ul li.type-S:after, .map-info ul li.type-T:after, .map-info ul li.type-L:after {
	font-style: italic;
}
.map-info ul li.type-S:after {
	content: " - stairwell";
}
.map-info ul li.type-T:after {
	content: " - toilet";
}
.map-info ul li.type-L:after {
	content: " - elevator";
}

/* *** search related styles *** */
ul.search-suggestions-list.default .item .context.building {
    font-size:0.9em;
    color:#757575;
}

/* *** styles for the routing page only *** */

.routing #ui h1 {margin-bottom:1rem;}
.routing #ui .routeInfo h2 {margin-bottom:0;}

#fromInfo, #toInfo {position:relative;}

#fromInfo h3, #fromInfo p, #toInfo h3, #toInfo p {display:inline;font-size:1rem;}
#fromInfo h3:after, #toInfo h3:after {content:" :";padding-right:0.25rem;}
.routing #ui .routeInfo p {margin-bottom:0.5rem;}

#routeOptions .route-calc {display:none;}
.route-query #routeOptions .route-calc {display:block;}
.route-success #routeOptions .route-calc {display:none;}

#routeExtraParameters {display:none;}
.route-query #routeExtraParameters {display:none;}
.route-success #routeExtraParameters {display:block;}

#routeDescription {display:none;}
.route-query #routeDescription {display:none;}
.route-success #routeDescription {display:block;}

.avoiding-obstacles {display:none;}
.avoid-obstacles #avoidObstacles {display:none;}
.avoid-obstacles .avoiding-obstacles {display:inline;}

#startMessage {display:none;}
.route-success #startMessage {display:block;}

#routeDescription {display:none;} /* for later! */

#fromInfo p.clear-point, #toInfo p.clear-point {display:none;}
#fromInfo.selected p.clear-point, #toInfo.selected p.clear-point {display:inline;}

#routeInfo>div {
  position: relative;
}
#routeInfo .clear-point a {
    position: absolute;
    left: -0.75em;
    top: 2.1em;
    width: 1em;
    height: 1em;
    overflow: hidden;
    text-indent: -999em;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 0.5em;
    background-size: cover;
    background-image: url(https://maps.unimelb.edu.au/assets/images/svg/remove-circle.svg);
}
#routeInfo .clear-point a:hover {
    background-color: rgb(255, 0, 0);
}

/* inline text icons - done the inefficient way for now */

/*
#reverseDirection::before, #avoidObstacles::before, #routeInfo .clear-point a::before {
	content:'\00a0';
	padding-left:1.2em;
	background-size:contain;
	background-position-x: -0.1em;
	background-repeat: no-repeat;
	filter: grayscale(100%) brightness(500%) brightness(50%);
}
#reverseDirection::before {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path fill="#ff0000" d="M21,9L17,5V8H10V10H17V13M7,11L3,15L7,19V16H14V14H7V11Z" /></svg>');
}
#avoidObstacles::before {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path fill="#ff0000" d="M18.4 11.2l-4.1.2 2.3-2.6c.2-.3.3-.8.2-1.3-.1-.3-.2-.6-.5-.8l-5.4-3.2c-.4-.3-1-.2-1.4.1L6.8 6.1c-.5.5-.6 1.2-.1 1.7.4.5 1.2.5 1.7.1l2-1.8 1.9 1.1-4.2 4.3c-.1.1-.1.2-.2.2-.5.2-1 .4-1.4.7L8 13.9c.5-.2 1-.4 1.5-.4 1.9 0 3.5 1.6 3.5 3.5 0 .6-.1 1.1-.4 1.5l1.5 1.5c.6-.9.9-1.9.9-3 0-1.2-.4-2.4-1.1-3.3l3.3-.3-.2 4.8c-.1.7.4 1.2 1.1 1.3h.1c.6 0 1.1-.5 1.2-1.1l.2-5.9c0-.3-.1-.7-.3-.9-.3-.3-.6-.4-.9-.4M18 5.5a2 2 0 0 0 2-2 2 2 0 0 0-2-2 2 2 0 0 0-2 2 2 2 0 0 0 2 2m-5.5 16.1c-.9.6-1.9.9-3 .9C6.5 22.5 4 20 4 17c0-1.1.3-2.1.9-3l1.5 1.5c-.2.5-.4 1-.4 1.5 0 1.9 1.6 3.5 3.5 3.5.6 0 1.1-.1 1.5-.4l1.5 1.5z" /></svg>');
}
*/

@media (max-width: 480px) {
    .home div.map-container, .campus div.map-container, div.map-container {height:100vw;min-height:100vw;}
}

/* Styles for search page */

.pager, .campus-facets {
	font-size: 0.8rem;
	margin-bottom: 0.5rem;
	color: #666;
}
.campus-facets {
	margin-bottom: 1rem;
}
.pager a, .campus-facets a {
	color: #666;
}
.search-results {
	list-style: none	;
	padding-left: .75rem;
}
.search-results li {
	position: relative;
	font-size: 1.1rem;
	line-height: 1.3rem;
	padding: 0.1rem 0 0.1rem 1rem;
}
.search-results li svg {
	position: absolute;
	top: 0.4rem;
	left: -.75rem;
	width: 1rem;
	height: 1rem;
	opacity: 0.7;
}
.search-results li .title {
	display: block;
}
.search-results li .buildingName, .search-results li .buildingLevel, .search-results li .campus {
	font-weight: 400;
	font-size: 0.9rem;
	color: #666;
}

/* attempt to fix the tab/map width problem */
.fade-enter-active,
.fade-leave-active {
  -webkit-transition: none;
  transition: none;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  visibility: visible;
  position: relative;
}
